body {
    background: #222222;;
}

.jumbotron {
    background: #222222;
}

#subHeading {
    font-family: 'Arial', sans-serif;
    color: #0071BC;
    font-weight: bold;
}

.displayed {
    display: block;
    width: 240px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto
}

.form-group {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 25px;
    margin-right: 25px;
}

.label {
    font-family: 'Arial', sans-serif;
    color: #0071BC;
    font-weight: bold;
    font-size: 18px;
}

.or {
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: darkgray;
    margin-top: 25px;
}

.btn-default {
    background-color: #0071BC;
    color: whitesmoke;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-left: 25px;
    margin-top: 25px;
}

.cusine-cards {
    display: none;
    flex-wrap: wrap;
    margin: auto;
}

.card {
    display: block;
    position: relative;
    overflow: auto;
    margin: 25px 25px 25px 25px;
}

.card:hover {
    opacity: 0.75;

}

.card-text {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-align: center;
    color: #0071BC;
    font-size: 18px;
}

.card-body {
    background-color: #222222;;
}

.card-img-top {
    width: 100%;
    height: 190px;
}

#chosen-restaurant {
    margin: 5 auto;
}

.buttons {
    background-color: #0071BC;
    color: white;
}

.change-heading {
    margin-top: 18px;
}

#chosen-restaurant {
    width: 400px;
}

#chosen-restaurant:hover {
    opacity: 1;
}

.resImg {
    width: 100%;
    height: 350px;
}
