html {
	position: relative; 
	overflow: auto;
}

body {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
    background-color: whitesmoke; 
    text-align: center; 
}

IMG.displayed{ 
    display: block; 
    margin-top: 25px; 
    margin-bottom: auto; 
    margin-left: auto; 
    margin-right: auto 
}

.button{
    padding: 20px; 
    margin-left: 25px;
    margin-top: 25px;
}

#hungry{
    background-color: #0071BC;
	color: whitesmoke;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}